.nav-sidebar .nav-link p {
  margin-left: 0.5rem;
}

.nav-sidebar .nav-icon.bi {
  font-size: 1.1rem;
}

.brand-link {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.brand-image {
  font-size: 1.75rem;
  color: #fff;
}

.brand-text {
  font-size: 1.1rem;
}
.brand-text{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
 
}
.brand-link{
  text-decoration: none;
}
.brand-image{
  width: 30px;
  height: 30px;
}